main > img:first-child{
    width:250px;
}   
.bg{
    background-image: url("assets/me.JPG");
    background-position: 60% 50%;
}
main img{
    max-width: 100%;
    height:auto;
}
main .image-link-expand{
    display: none;
}
iframe{
    border: none;
    width: 100%;
    position: relative;
    left:-8px;
    height: calc(100vh - 300px);
}
h2{
    font-weight: normal;
    font-size: inherit;
}
article h2 span{
    border-radius: 5px;
    color: #85ABA9;
}
article{
    border: 2px solid #85ABA9;
    border-bottom:none;
    padding:0 15px;
}
article:nth-child(9){
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
article:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom:2px solid #85ABA9;
}
article h2 a{
    text-decoration: none;
}
hr{
    display: none;
    border:2px dotted #85ABA9;
}
.cta-caption{
    display: none;
}

article{
    max-height:150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

a.button{
    background-color: #85ABA9;
    color: #360E0E;
    font-weight: bold;
    font-size:12px;
    padding:5px;
    vertical-align: top;
}



/*TIMELINE issues*/
#page-scrub{

    transform:rotate(90deg);
    background-color: transparent;
}
#scrub-container{
    position:fixed;
    right:-150px;
    top:300px;
}
#scrub-container{
    display: none;
}
#scrub-container span{
    text-align: right;
    position:absolute;
    top:0;
    right:210px;
    font-size:12px;
    color:#85ABA9;
    display: block;
}
#scrub-container #start{
    top:-185px;
}
#scrub-container #end{
    top:210px;
}

input[type=range] {
    height: 23px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 400px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 400px;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #85ABA9;
    border-radius: 4px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #85ABA9;
    border: 0px solid #85ABA9;
    height: 17px;
    width: 6px;
    border-radius: 5px;
    background: #85ABA9;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #85ABA9;
}
input[type=range]::-moz-range-track {
    width: 400px;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #85ABA9;
    border-radius: 4px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #85ABA9;
    border: 0px solid #85ABA9;
    height: 17px;
    width: 6px;
    border-radius: 5px;
    background: #85ABA9;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 400px;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #85ABA9;
    border: 0px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #85ABA9;
    border: 0px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #85ABA9;
    border: 0px solid #85ABA9;
    height: 17px;
    width: 6px;
    border-radius: 5px;
    background: #85ABA9;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #85ABA9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #85ABA9;
}

@media(max-width:900px){
    article a.button{
        display: block;
        margin-top:5px;
    }
    #bg-nav{
        filter: blur(10px);
    }

    article h2 span{
        margin-bottom:0 !important;
    }
    nav ul select {
        max-width: 45%;
        margin-top:3px;
    }
}