body{
    margin:0;
    padding:0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#E1ECEB;
    letter-spacing: 0.03em;
    font-size: 24px;
    background-color: black;
}
h1{
    margin:0;
    font-weight: normal;
}
blockquote{
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}
.bg{
   position:fixed;
   width:100vw;
   height:100vh;
   top:0;
   left:0;
   pointer-events: none;
   z-index: -1;
   background-repeat: no-repeat;
   background-size: 500%;
   background-position: center center;
   filter: brightness(0.6) contrast(120%) blur(30px);
   
}
#bg-nav .bg{
    position:absolute;
}
#bg-nav{
    height: 150px;
    width:100%;
    overflow: hidden;
    z-index: 2;
    position:fixed;
    top:-50px;
    left:0;
    filter:blur(30px);
    opacity: 1;
}

a,a:link, a:visited{
    color:inherit;
}
/* NAVIGATION */
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    font-size:16px;
    z-index: 999;
}
#message img{
    width: 25px;
}
#message img:nth-child(2){
    display: none;
}
#message img:nth-child(1){
    margin-top:5px;
}
#message img:nth-child(1):hover{
    box-shadow: 0px 0px 20px 4px #85ABA9;
}

#message-inner{
   position:fixed;
   max-width: calc(70% - 55px);
   border: 2px solid #85ABA9;
   padding: 25px;
   display: none;
   top:4em;
   background-image: url('assets/letter.png');
   background-repeat: no-repeat;
   background-position: 17% 40%;
   background-size:300%;
   border-radius:25px;
   border-top-left-radius: 0;
   left: 55px;
}
#message.on img:nth-child(1), #message.on em{
    display: none;
}
#message-inner blockquote:nth-child(3){
    margin-top:0;
}
#message.on img:nth-child(2){
    display: inline-block;
}
#message.on #message-inner{
    display: block;
}
#message.on #message-outer{
    position:fixed;
    width:100vw;
    height:100vh;
    top:75px;
    left:0;
    display: block;
    z-index: -1;
}
#message-inner p{
    margin:0;
}
#message-inner a{
    text-decoration: underline;
}
#message-outer{
    display: none;
}
#message em{
    position: relative;
    vertical-align: top;
    font-size:12px;
    line-height: 2;
}
#message.open em{
    position: relative;
    top:-7px;
    display: none;
    left:2px;
}
#message img{
    cursor: pointer;
}
nav a{
    text-decoration: none;
}
nav ul{
    padding-left:0;
    padding:0px 15px;
}
nav li{
    list-style: none;
    padding: 5px 0;
}
nav ul:last-child{
    font-size: 14px;
    text-align:right;
}
nav li select{
    background-color: transparent;
    color:#E1ECEB;
    font-size: 14px;
    max-width: 200px;
    text-overflow: ellipsis;
    padding:3px 7px;
    border-radius: 5px;
    border:2px solid #85ABA9;
}
@keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
#blinking-cursor{
	display: inline-block;
	background: #E1ECEB;
	height:24px;
	width:2px;
	margin-left:5px;
	top:2px;
	position: relative;
	-webkit-animation: 1s blink step-end infinite;
   -moz-animation: 1s blink step-end infinite;
   -ms-animation: 1s blink step-end infinite;
   -o-animation: 1s blink step-end infinite;
   animation: 1s blink step-end infinite;
}
/* MAIN CONTENT */
main{
    display: block;
    margin:0 auto;
    margin-top: 100px;
    max-width: 1100px;
    padding-bottom:50px;
}
/*large desktop*/
@media(max-width:1200px){
    main{
       max-width: calc(100% - 30px);  
    }
   
}
/* MOBILE */
@media(max-width:900px){
    body{
        font-size:14px;
    }
    nav ul:first-child li:first-child{
        font-size:12px;
    }
    nav ul:last-child, nav ul select{
        font-size:12px;
    }
    nav ul{
        flex-basis:45%;
        width:45%;
    }
    nav ul select{ 
        max-width: 25%;
    }
    #message-inner{
        max-width: calc(100% - 85px);
        top: 75px;
        left:15px;
    }
    

}
@media(max-width: 362px){
 #message em{
    font-size: 10px;
 }
}
@media(max-width: 281px){
    nav,nav ul:first-child li:first-child, nav ul:last-child, nav ul select,#message em{
        font-size:8px;
    }
    #message img{
        width:15px;
    }
}